POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

MINIO_ROOT_USERNAME=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

GRAFANA_ADMIN_PASSWORD=admin

RABBITMQ_DEFAULT_PASS=guest

DOMAIN_KEYCLOAK_PATH=https://auth.domain.ru
DOMAIN_SERVICE_PATH=https://domain.ru
