server:
  port: 0

spring:
  application:
    name: dental-lab-service
  profiles:
    active: dev
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://host.docker.internal:8888
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${project.variables.keycloak.url}/realms/${project.variables.keycloak.realm}
  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 50MB
  datasource:
    url: jdbc:postgresql://${project.variables.datasource.url}/${project.variables.datasource.database}
    username: ${project.variables.datasource.username}
    password: ${project.variables.datasource.password}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    url: jdbc:postgresql://${project.variables.datasource.url}/${project.variables.datasource.database}
    user: ${project.variables.datasource.username}
    password: ${project.variables.datasource.password}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  redis:
    host: ${project.variables.redis.host}
    port: ${project.variables.redis.port}
    timeout: 6000
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
  kafka:
    topic: event-topic
    bootstrap-servers: ${project.variables.kafka.url}
    partitions: 3
    replicas: 3
  mail:
    host: ${project.variables.mail.smtp.host}
    port: ${project.variables.mail.port}
    username: ${project.variables.mail.service.user}
    password: ${project.variables.mail.service.password}
    protocol: ${project.variables.mail.protocol}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000


eureka:
  client:
    service-url:
      defaultZone: ${project.variables.eureka-server.url}
    instance:
      prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    otlp:
      endpoint: http://alloy:4318
      protocol: http/protobuf
otel:
  service:
    name: ${spring.application.name}
  exporter:
    otlp:
      endpoint: http://alloy:4318
  traces:
    exporter: otlp
  metrics:
    exporter: none
  logs:
    exporter: none
logging:
  level:
    root: INFO
