<!-- fragments/nav.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="menu" th:fragment="main-menu">
    <header><strong>🦷 DENTAL LAB SERVICE 🦷</strong></header>
    <a th:href="@{/main/dental-works/new}">НОВАЯ ЗАПИСЬ</a>
    <a th:href="@{/main/dental-works}">СПИСОК РАБОТ</a>
    <a th:href="@{/main/product-map}">КАРТА РАБОТ</a>
    <a th:href="@{/main/user}">ПРОФИЛЬ</a>
    <a style="float:right;" th:href="@{/main/log-out}" onclick="return confirm('Выйти?')">
        <button>выйти</button>
    </a>
</nav>
</body>
</html>
