<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена Email</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/nav :: main-menu"></div>

<section class="form-section">
    <h2>Изменение email</h2>

    <form method="post" th:action="@{/main/user/update-email}">
        <label>Введите новый email:</label><br>
        <input type="email" name="new-email" required>
        <button type="submit">Сохранить</button>
    </form>
</section>

</body>
</html>
