<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сменить пароль</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/nav :: main-menu"></div>

<section class="form-section">
    <h2>Сменить пароль</h2>

    <div th:if="${error}" class="alert error" th:text="${error}"></div>

    <form method="post" th:action="@{/main/user/save-new-password}">
        <input type="hidden" name="token" th:value="${token}" />
        <label>Введите новый пароль:</label><br>
        <input type="password" name="newPassword" required />
        <button type="submit">Сохранить</button>
    </form>
</section>

</body>
</html>
