<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DENTAL LAB SERVICE</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦷</text></svg>">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="fragments/nav :: main-menu"></div>

<section>
    <p>
        Для регистрации нужно ввести действующий email,
        так как если забудете пароль, на эту почту придёт ссылка для сброса пароля.
        После регистрации вы попадёте на страницу логина и нужно ввести email и пароль,
        не спрашивайте почему - просто так надо.
        Ссылку на Телеграмм-бота увидите в меню.
        Для привязки Телеграмм-бота к аккаунту нужно ввести в боте комманду /login.
        Бот пришлёт ссылку, перейдите по ней и увидите код для привязки -
        введите этот код в чат Телеграмм-бота.
    </p>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/menu.png}">
            <img th:src="@{/img/menu-burger.png}">
        </div>
        <p>
        <h2>Меню сервиса:</h2>
        <p><b>Новая запись</b><br>
            Сделать новую запись (пациент, клиника, вид работы, количество, дата назначения, комментарий).
            Если нужно добавить несколько видов работ, сначала сохраните запись с одним пунктом,
            потом добавьте новую работу.<br>
        <p><b>Список записей</b><br>
            Открыть список записей. По умолчанию откроются все актуальные записи
            (у которых дата назначения не раньше текущего месяца и статус не "ОПЛАЧЕНО").
            Если нужно открыть только записи текущего месяца, откройте нижнее меню,
            нажмите "другой месяц" и выберете текущий месяц.
        <p><b>Карта работ</b><br>
            Список видов работ (название, цена).
            Эти работы будут отображаться на странице "НОВАЯ ЗАПИСЬ" в поле "вид работы"
            и в качестве колонок таблицы на странице "СПИСОК ЗАПИСЕЙ".
            По указанным ценам будет считаться доход.
        <p><b>Профиль</b><br>
            Ваши учётные данные (имя, email, дата регистрации).
            Также на этой странице можно поменять свои данные.
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/map.png}">
            <img th:src="@{/img/map-edit.png}">
        </div>
        <p>
            Для изменения цены работы, введите новое значение и нажмите "сохранить".
            Или нажмите "отмена", чтобы закрыть редактирование.
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/new-work.png}">
            <img th:src="@{/img/work-item.png}">
        </div>
        <p>
            Для изменения данных записи (пациент, клиника, статус, дата назначения),
            Нажмите на значение, которое нужно поменять, введите новое
            и нажмите ✅ для сохранения изменений, или ❌ чтобы закрыть редактирование.
            Чтобы добавить новый вид работы, нажмите "новая работа".
            Если добавить вид работы, который уже есть в этой записи,
            то к существующей работе просто добавится новое количество.
            Дата назначения есть у кажного вида работы, общая дата назначения всей записи
            устанавливается по самой поздней дате назначения из списка видов работ.
            Но можно установить общую дату назначения вручную. По общей дате назначения
            сортируются записи по месяцам.
            Чтобы добавить/посмотреть фото записи - нажмите кнопку "ОТКРЫТЬ"
            в строке с количеством фотофайлов.
        <div class="photo-box">
            <img th:src="@{/img/work-item-edit.png}">
            <img th:src="@{/img/photo-files.png}">
        </div>
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/work-list.png}">
        </div>
        <p>
            Список записей. Цвет строк зависит от статуса записи. Для просмотра информации о записи, нажмите на нужную строку.
            Для дополнительных опций, нажмите нижнее меню.
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/low-menu.png}">
        </div>
        <p><b>Посчитать доход</b><br>
            Считает сумму всех видов работ в каждой записи за выбранный месяц, по ценам в карте работ<br>
        <p><b>Поиск записи</b><br>
            Найти все соответствующие ваши записи по введёднным критериям. Можно ввести либо оба поля (пациент и
            клиника), либо какое-то одно.
        <p><b>Другой месяц</b><br>
            Список записей за указанный месяц. Учитывается значение общей даты назначения записи.
        <p><b>Скачать</b><br>
            Скачать отчёт в excel файле за выбранный месяц
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/low-menu-sorting.png}">
        </div>
        <p>
        <b>Сортировать:</b><br>
        <p><b>По текущему месяцу</b><br>
            Сортирует список актуальных работ (дата назначения не раньше текущего месяца и статус не "ОПЛАЧЕНО").
            Если дата назначения записи не позже текущего месяца и статус "ДЕЛАЕТСЯ" - установится статус
            "ВЫПОЛНЕНО".<br>
        <p><b>По прошлому месяцу</b><br>
            Сортирует список актуальных работ (дата назначения не раньше текущего месяца и статус не "ОПЛАЧЕНО").
            Если дата назначения записи не позже прошлого месяца и статус "ДЕЛАЕТСЯ" - установится статус "ВЫПОЛНЕНО".
        <p><b>Выбрать несколько</b><br>
            Выбрать несколько записей и установить статус вручную.
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/bulk-update.png}">
        </div>
        <p>
            Выбрать несколько записей и установить нужный статус. Можно выбрать сразу все, нажав в шапке таблицы
            (указано зелёной стрелкой на картинке). Цвета строк также отображают статусы записей.
    </div>
    <div class="photo-gallery">
        <div class="photo-box">
            <img th:src="@{/img/user.png}">
            <img th:src="@{/img/user-edit.png}">
        </div>
        <p>
            Страница профиля пользователя. Свои данные вы можете изменить, нажав на нужное значение.
        Для смены email вам придёт на почту ссылка на страницу ввода нового email. Просто следуйте указаниям после нажатия кнопки.
        Если нет доступа к email, можно сменить с помощью Телеграмм, придёт код для установки нового email.
        А если не привязан Телеграмм и нет доступа к email - сорян... Не знаю как помочь. Обратитесь к разработчику.
        Для смены пароля просто введите старый пароль и новый (дважды, чтобы было надёжнее).
        Если нужно, можно удалить профиль - все данные будут удалены без возможности восстановления. Подумайте хорошо, прежде чем удалять.
    </div>
    <h2>Удачной работы! Если будут сложности с пользованием или обнаружите ошибку - обратитесь к разработчику</h2>
    <h3>Telegram: @Stas_Kuprienko</h3>
</section>
</body>
</html>
