<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DENTAL LAB SERVICE</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦷</text></svg>">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<!-- 🔝 Меню -->
<nav class="menu">
    <header><strong>🦷 DENTAL LAB SERVICE 🦷</strong></header>
    <form style="float:right;" th:action="@{/log-out}" onclick="return confirm('Вы действительно хотите выйти?')">
        <button>выйти</button>
    </form>
</nav>

<section>
    <a th:href="@{/main/dental-works/new}" class="main-page">НОВАЯ ЗАПИСЬ</a>
    <a th:href="@{/main/dental-works}" class="main-page">СПИСОК ЗАПИСЕЙ</a>
    <a th:href="@{/main/product-map}" class="main-page">КАРТА РАБОТ</a>
    <a th:href="@{/main/user}" class="main-page">ПРОФИЛЬ</a>
    <div>
        <a class="telegram-bot" style="font-size:70%;" href="https://t.me/dental_mechanic_service_bot"> ТЕЛЕГРАМ-БОТ
            <img th:src="@{/img/telegram-bot.svg}" style="width: 24px;">
        </a>
    </div>
    <div>
        <a class="telegram-bot" style="font-size:70%;" th:href="@{/guide}">инструкция</a>
    </div>
</section>
</body>
</html>
