<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DENTAL LAB SERVICE</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦷</text></svg>">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<!-- 🔝 Меню -->
<div th:replace="fragments/nav :: main-menu"></div>

<!-- 📈 Основной блок -->
<section>
    <h2>📊 Статистика по месяцам</h2>

    <div class="table">
        <div class="thead" style="font-size: 65%;">
            <div class="tr">
                <div class="th">ГОД</div>
                <div class="th">МЕСЯЦ</div>
                <div class="th">ПРИБЫЛЬ</div>
            </div>
        </div>

        <div class="tbody">
            <a class="tr"
               th:each="record : ${profit}"
               th:href="@{'/main/dental-works?year-month=' + ${record.year} + '-' + ${record.monthValue}}">
                <div class="td" th:text="${record.year}">2025</div>
                <div class="td" th:text="${record.monthToString}">JULY</div>
                <div class="td" th:text="${record.value}">1000</div>
            </a>
        </div>
    </div>
</section>

<!-- ⬇️ Нижнее меню -->
<nav class="low-menu">
    <a>
        <form method="get" th:action="@{/main/reports/profit/all}">
            <input class="low-button" type="submit" value="скачать статистику за год">
        </form>
    </a>
</nav>

</body>
</html>
