<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DENTAL LAB SERVICE</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦷</text></svg>">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<section class="form-section">
    <h2>Сбросить пароль</h2>

    <div th:if="${message}" class="alert" th:text="${message}"></div>

    <div th:unless="${message}">
    <form method="post" th:action="@{/auth/reset-password}">
        <input type="hidden" name="token" th:value="${token}" />
        <label>Введите свой логин (email, на который придёт ссылка для сброса пароля):</label><br>
        <input type="email" name="login" required />
        <button type="submit">ОК</button>
    </form>
    <form th:action="@{/login}">
        <button type="submit" style="font-size: 14px; width: 80px;">Отмена</button>
    </form>
    </div>
</section>

</body>
</html>
