server:
  port: 8082

spring:
  application:
    name: gateway
  profiles:
    active: dev
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://host.docker.internal:8888
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: dental-lab-service
          uri: lb://dental-lab-service
          predicates:
            - Path=/api/v1/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${project.variables.keycloak.url}/realms/${project.variables.keycloak.realm}

eureka:
  client:
    service-url:
      defaultZone: ${project.variables.eureka-server.url}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    otlp:
      endpoint: http://alloy:4318
      protocol: http/protobuf
otel:
  service:
    name: ${spring.application.name}
  exporter:
    otlp:
      endpoint: http://alloy:4318
  traces:
    exporter: otlp
  metrics:
    exporter: none
  logs:
    exporter: none
logging:
  level:
    root: INFO
